name: ctmap
channels:
  - pytorch
  - nvidia
  - conda-forge
dependencies:
  - python=3.9
  - pytorch
  - pytorch-cuda=12.1
  - numpy
  - scipy
  - pandas
  - scikit-learn
  - anndata
  - scanpy
  - tqdm
  - pyyaml
